body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffcc00, #ff6600);
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

.buttons button {
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border-radius: 5px;
}

.buttons button:hover {
    background: #45a049;
}

#resumo {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    display: inline-block;
}
footer {
    background: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
